*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 50px;
    border: 5px solid black;
}
h1{
    color: green;
    font-size: 60px;
    text-align: center;
    margin: 0; /* padding, o espaço ao redor do conteúdo (ex.: ao redor do texto de um parágrafo).border, a linha sólida do lado de fora do padding.margin, o espaço externo a um elemento.*/
    padding: 20px 0;
}
p, li{ /*define tamanho, cor, espaçamento e etc do item selecionado */
    font-size: 30px;
    line-height: 2;
    letter-spacing: 1px;
}
img{
    display: block;
    margin: 0 auto;
}